html {
  height:100%;
  width: 100%;
background: #6bba70; /* Old browsers */
background: -moz-linear-gradient(top, #6bba70 0%, #6bba70 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bba70), color-stop(100%,#6bba70)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #6bba70 0%,#6bba70 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #6bba70 0%,#6bba70 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #6bba70 0%,#6bba70 100%); /* IE10+ */
background: linear-gradient(to bottom, #6bba70 0%,#6bba70 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#6bba70',GradientType=0 ); /* IE6-9 */
}

header {
  padding-left: 5px;
  font-family: "Arial";
  font-weight: lighter;

}

nav {
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  text-align: left;
}

nav ul {
  
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);

}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  font-family: "Arial";
 // text-transform:uppercase;
  color: #000099;
  font-size: 18px;
  text-decoration: none;
  display: block;
//  margin-left: -20px;
  
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

#main {
  display: block;
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 10px;
  width: 80%;
  height: 96%;
  
  color: #171717;
  font-family: sans-serif;
  text-align: left;
  font-family: "Arial";
  
  background-color: #efefef;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#main h2 {
 // display: block;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 0px;
  font-family: "Arial";

  
  color: #ea4444;
  font-size: 1.5em;
} 

body {

} 










